html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*@import "libs/normalize"; */
/*@import "libs/fa/font-awesome";*/
.my_container {
  max-width: 71.25em;
  margin-left: auto;
  margin-right: auto; }
  .my_container::after {
    clear: both;
    content: "";
    display: table; }
  .my_container::after {
    clear: both;
    content: "";
    display: table; }

* {
  position: relative;
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 10px; }

h2, h3, h4 {
  margin: 0; }

html {
  overflow-x: hidden;
  font-size: 62.5%;
  min-height: 100%;
  float: left;
  width: 100%; }

body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #3b3a3a;
  height: 100vh;
  min-height: 100vh;
  background: #ffffff; }
  body.fixed {
    position: fixed; }

.page_wrapper {
  min-height: 100%; }
  @media screen and (max-width: 991px) {
    .page_wrapper.user_dash {
      min-height: unset; } }
  .page_wrapper.user_dash .main_content {
    padding: 40px 60px 20px 40px; }
    @media screen and (max-width: 767px) {
      .page_wrapper.user_dash .main_content {
        padding: 5% 8% 20%; } }
    @media screen and (max-width: 575px) {
      .page_wrapper.user_dash .main_content {
        overflow-y: scroll; } }

.full_width {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .full_width:last-child {
    margin-right: 0; }

a {
  text-decoration: none;
  /*@include transition(color 1s ease-in);*/
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%;
  height: auto;
  float: left; }

.image_wrap.fixed {
  width: 60px;
  height: 60px;
  overflow: hidden;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  flex: none;
  -ms-flex: none; }

.sidebar {
  min-height: 100%;
  z-index: 1;
  min-width: 300px; }

.btn {
  padding: 10px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 20px; }
  @media screen and (max-width: 991px) {
    .btn {
      font-size: 18px;
      padding: 10px 50px; } }
  @media screen and (max-width: 767px) {
    .btn {
      font-size: 16px;
      padding: 8px 18px; } }
  .btn.transparent {
    color: #f36c00;
    border: 1px solid #f36c00; }
    .btn.transparent:hover {
      background: #f36c00;
      color: #ffffff; }
  .btn.black {
    font-family: 'opensansbold', sans-serif;
    font-weight: 800;
    background: #000;
    color: #ffffff; }
    .btn.black:hover {
      background: #3b3a3a; }
  .btn.orange {
    color: #ffffff;
    background: #f36c00; }
    .btn.orange:hover {
      background: #cc5b00; }

.select.triangle_right:after {
  content: '';
  background: url("../images/icon-triangle-right.png") no-repeat;
  position: absolute;
  right: 20px;
  top: 42px;
  width: 9px;
  height: 14px;
  background-size: 100%; }

select {
  -webkit-appearance: none;
  border: 1px solid #4f4f4f;
  height: 40px;
  background: #ffffff;
  color: #888686; }
  select:focus {
    outline: none; }

.form-check-label {
  margin-left: 6%;
  padding-top: 4px; }

@font-face {
  font-family: 'opensansreg';
  src: url("fonts/opensans-regular-webfont.eot");
  src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype"), url("fonts/opensans-regular-webfont.svg#opensansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensanssemibold';
  src: url("fonts/opensans-semibold-webfont.eot");
  src: url("fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold-webfont.woff2") format("woff2"), url("fonts/opensans-semibold-webfont.woff") format("woff"), url("fonts/opensans-semibold-webfont.ttf") format("truetype"), url("fonts/opensans-semibold-webfont.svg#opensanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensansbold';
  src: url("fonts/opensans-bold-webfont.eot");
  src: url("fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-bold-webfont.woff2") format("woff2"), url("fonts/opensans-bold-webfont.woff") format("woff"), url("fonts/opensans-bold-webfont.ttf") format("truetype"), url("fonts/opensans-bold-webfont.svg#opensansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold';
  src: url("fonts/lato-reg-webfont.eot");
  src: url("fonts/lato-reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lato-reg-webfont.woff2") format("woff2"), url("fonts/lato-reg-webfont.woff") format("woff"), url("fonts/lato-reg-webfont.ttf") format("truetype"), url("fonts/lato-reg-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2 {
  font-family: 'opensansbold', sans-serif;
  font-weight: 800;
  margin: 0; }

a, h3 {
  font-family: 'opensanssemibold', sans-serif;
  font-weight: 600;
  margin: 0; }

p, h4 {
  font-family: 'opensansreg', sans-serif;
  font-weight: 300;
  margin: 0; }

.my_container {
  max-width: 80.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px; }
  .my_container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 991px) {
    .my_container {
      padding: 0 20px; } }

/*
@import "partials/construction";
*/
@media screen and (max-width: 991px) {
  header img {
    max-width: 200px; } }
header .btn.black {
  padding: 10px 70px; }
  @media screen and (max-width: 767px) {
    header .btn.black {
      width: 100%; } }
header .user_info p span {
  font-family: 'opensanssemibold', sans-serif;
  font-weight: 600; }
@media screen and (max-width: 991px) {
  header .user_info p {
    font-size: 14px; } }
header .user_info .nav-item:first-child a:after {
  content: '/';
  position: absolute;
  right: -3px;
  color: #888686; }
@media screen and (max-width: 991px) {
  header .user_info .nav-item:first-child a {
    font-size: 14px; } }
header .user_info .nav-item a {
  color: #888686;
  font-size: 16px;
  padding: .5rem 24px; }
  @media screen and (max-width: 991px) {
    header .user_info .nav-item a {
      padding: .5rem 15px;
      font-size: 14px; } }
  header .user_info .nav-item a:hover {
    color: #3b3a3a; }
  header .user_info .nav-item a.btn {
    padding: 7px 28px;
    color: #f36c00; }
    @media screen and (max-width: 991px) {
      header .user_info .nav-item a.btn {
        padding: 5px 20px; } }
    header .user_info .nav-item a.btn:hover {
      color: #ffffff; }

.header_nav {
  background: #4f4f4f; }
  @media screen and (max-width: 767px) {
    .header_nav .container {
      max-width: unset; } }
  .header_nav .navbar-nav {
    width: 100%; }
  .header_nav .navbar-toggler {
    border: 1px solid #ffffff;
    padding: .25rem 0.55rem;
    margin-left: 15px; }
  .header_nav .navbar-expand-md .navbar-nav .nav-link {
    padding: 20px 40px;
    color: #ffffff; }
    @media screen and (max-width: 991px) {
      .header_nav .navbar-expand-md .navbar-nav .nav-link {
        padding: 15px;
        font-size: 14px; } }
    .header_nav .navbar-expand-md .navbar-nav .nav-link.light_gray {
      background: #525252; }
      .header_nav .navbar-expand-md .navbar-nav .nav-link.light_gray:hover {
        background: #3b3a3a; }
    .header_nav .navbar-expand-md .navbar-nav .nav-link.dark_gray {
      background: #3b3a3a; }
      .header_nav .navbar-expand-md .navbar-nav .nav-link.dark_gray:hover {
        background: #525252; }
    .header_nav .navbar-expand-md .navbar-nav .nav-link.blue {
      font-family: 'opensansbold', sans-serif;
      font-weight: 800;
      background: #1c85bd; }
      .header_nav .navbar-expand-md .navbar-nav .nav-link.blue:hover {
        background: #176d9b; }
    .header_nav .navbar-expand-md .navbar-nav .nav-link.orange {
      background: #f36c00;
      padding: 14px 55px; }
      @media screen and (max-width: 991px) {
        .header_nav .navbar-expand-md .navbar-nav .nav-link.orange {
          padding: 9px 30px; } }
      .header_nav .navbar-expand-md .navbar-nav .nav-link.orange p {
        line-height: 1;
        font-size: 12px; }
      .header_nav .navbar-expand-md .navbar-nav .nav-link.orange:hover {
        background: #cc5b00; }

#joinNowModal .birthday_select .input-group-addon {
  width: 32%;
  margin-right: 2%; }
  #joinNowModal .birthday_select .input-group-addon:last-child {
    margin-right: 0; }

.footer {
  background: url("../images/footer-bg.jpg") no-repeat;
  background-size: cover; }
  .footer p {
    color: #bfbfbf;
    font-size: 14px; }
    @media screen and (max-width: 767px) {
      .footer p {
        font-size: 12px; } }
  @media screen and (max-width: 767px) {
    .footer img {
      max-width: 200px;
      float: none; } }
  .footer .nav-item a {
    font-size: 14px;
    color: #888686;
    padding: 0 30px; }
    @media screen and (max-width: 767px) {
      .footer .nav-item a {
        font-size: 12px;
        padding: 0 15px; } }
    .footer .nav-item a:after {
      content: '/';
      position: absolute;
      right: -3px; }
  .footer .nav-item:last-child a {
    padding-right: 0; }
    .footer .nav-item:last-child a:after {
      content: ''; }

.home_page .image_gallery .content_wrap {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
.home_page .image_gallery .image_wrap {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .home_page .image_gallery .image_wrap:last-child {
    margin-right: 0; }
  .home_page .image_gallery .image_wrap .text_wrap {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0; }
    .home_page .image_gallery .image_wrap .text_wrap:last-child {
      margin-right: 0; }
    .home_page .image_gallery .image_wrap .text_wrap h3 {
      font-size: 16px; }
      @media screen and (max-width: 991px) {
        .home_page .image_gallery .image_wrap .text_wrap h3 {
          font-size: 14px; } }
.home_page .image_gallery .column a {
  font-family: 'opensansreg', sans-serif;
  font-weight: 300;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  font-size: 16px;
  padding: 3px 0;
  display: block;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0; }
  .home_page .image_gallery .column a:last-child {
    margin-right: 0; }
  @media screen and (max-width: 991px) {
    .home_page .image_gallery .column a {
      font-size: 14px; } }
  .home_page .image_gallery .column a.active {
    background: #1c85bd;
    color: #ffffff; }
@media screen and (max-width: 767px) {
  .home_page .banner img {
    max-width: 100px;
    float: none; } }

/*# sourceMappingURL=main.css.map */
