* {
	position: relative;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 10px;
}

h2, h3, h4 {
    margin: 0;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
	min-height: 100%;
	float: left;
	width: 100%;
}

body {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: $darkGray;
    height: 100vh;
    min-height: 100vh;
    background: $white;
	
	&.fixed {
		position: fixed;
	}
}

.container {
    max-width: 1240px;

    @include media($desktop) {
        max-width: 990px;
    }

    @include media($tablet) {
        max-width: 780px;
    }
}

.page_wrapper {
    padding: 80px 0;

    @include media($mobile) {
        padding: 40px 0;
    }

    .section {
        margin-top: 20px;
    }
}

.full_width {
	@include span-columns(12);
}

a {
	text-decoration: none;
	/*@include transition(color 1s ease-in);*/
	cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

ul {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
	float: left;
}


.btn {
    padding: 6px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;

    @include media($tablet) {
        font-size: 18px;
        padding: 10px 50px;
    }

    @include media($mobile) {
        font-size: 16px;
        padding: 8px 18px;
    }

    &.transparent {
        color: $orange;
        border: 1px solid $orange;

        &:hover {
            background: $orange;
            color: $white;
        }
    }

    &.black {
        @include opensansbold;
        background: $black;
        color: $white;

        &:hover {
            background: $darkGray;
        }
    }

    &.orange {
        color: $white;
        background: $orange;

        &:hover {
            background: $orangeHover;
        }
    }

    &.gray {
        color: $white;
        background: $darkGray;

        &:hover {
            background: $lighterGray;
        }
    }
}

.modal {

    a {
        color: $blue;

        &:hover {
            color: $blueHover;
        }
    }

    .modal-dialog {
        max-width: 600px;

        .modal-content {
            padding: 20px;
        }
    }

    .modal-header {
        display: block !important;
        border-bottom: none;

        .modal-title {
            @include span-columns(12);
            @include opensansreg;
            color: $blue;
            font-size: 24px;
        }

        p {
            @include span-columns(12);
            @include opensansreg;
            font-size: 14px;
            color: $textGray;
        }
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;

        @include media($mobile) {
            top: -14px;
            right: -14px;
        }
    }
}

.banner {
    img {
        @include media($mobile) {
            max-width: 100px;
            float: none;
        }
    }
}

form {

    h3 {
        color: $blue;
        font-size: 20px;
        margin-bottom: 15px;

        @include media($mobile) {
            font-size: 18px;
        }
    }

    p {
        @include opensanssemibold;
        margin-bottom: 15px;
        font-size: 14px;

        @include media($mobile) {
            font-size: 12px;
        }
    }

    h4 {
        @include opensansbold;
        color: $darkGray;
        font-size: 18px;
        margin-bottom: 20px;

        @include media($mobile) {
            font-size: 16px;
        }
    }

    .form-group:first-child {
        padding-right: 40px;

        @include media($mobile) {
            padding-right: 0;
        }
    }

    label {
        color: $textGray;
        @include opensanssemibold;
        font-size: 16px;

        @include media($mobile) {
            font-size: 12px;
        }

        sup {
            color: $red;
        }
    }

    .form-control {
        height: 40px;
        font-size: 16px;
        border-color: #dcdbdb;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 1px 2px 6px 0px rgba(224,224,224,1);
        -moz-box-shadow: 1px 2px 6px 0px rgba(224,224,224,1);
        box-shadow: 1px 2px 6px 0px rgba(224,224,224,1);

        @include media($mobile) {
            height: 35px;
        }
    }

    textarea.form-control {
        height: 200px;
    }


    select {
        -webkit-appearance: none;
        height: 40px;
        border-color: #dcdbdb;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        @include media($mobile) {
            height: 35px;
        }
    }
    .birthday_select {

        .input-group-addon {
            width: 32%;
            margin-right: 2%;

            &:last-child {
                margin-right: 0;
            }

            &:after {
                content: '';
                background: url('../images/triangle-down.png') no-repeat;
                width: 10px;
                height: 10px;
                position: absolute;
                right: 8px;
                top: 16px;
                background-size: 100%;
            }
        }
    }

    .gender {
        &:after {
            content: '';
            background: url('../images/triangle-down.png') no-repeat;
            width: 10px;
            height: 10px;
            position: absolute;
            right: 15px;
            top: 45px;
            background-size: 100%;
        }

        &.edit_profile_gender {
            &:after {
                right: 55px;

                @include media($mobile) {
                    right: 15px;
                }
            }
        }
    }

    .form-check {
        margin-top: 10px;

        &.edit_profile_check {
            @include media($smallMobile) {
                width: 50%;
            }
        }

        .form-check-label {
            margin-left: 10px;
            font-size: 12px;
            padding-top: 0;

            @include media($mobile) {
                font-size: 10px;
            }

            &.edit_profile_check {
                font-size: 16px;

                @include media($mobile) {
                    font-size: 14px;
                }
            }

            &.radio_button {
                font-size: 16px;

                @include media($mobile) {
                    font-size: 14px;
                }

                span {
                    @include opensansbold;
                }
            }
        }
    }
}

#loginModal .form-group:first-child {
    padding-right: 0;
}
