// primary styles

$charcoal: #3a3a3a;
$cobalt: #0020C2;
$grayBlue: #678699;

$gray: #4f4f4f;
$darkGray: #3b3a3a;
$lighterGray: #525252;
$lightGray: #efefef;
$textGray: #888686;
$white: #ffffff;
$black: #000;
$orange: #f36c00;
$orangeHover: #cc5b00;
$blue: #1c85bd;
$blueHover: #176d9b;
$lightBlue: #85d1f9;
$lighterBlue: #e4f4ff;
$red: #f53b3b;
$yellow: #ffff33;