// primary styles

$charcoal: #3a3a3a;
$cobalt: #0020C2;
$lightBlue: #24c3e0;
$grayBlue: #678699;

$gray: #4f4f4f;
$darkGray: #3b3a3a;
$lightGray: #525252;
$textGray: #585858;
$white: #ffffff;
$black: #000;
$orange: #f36c00;
$blue: #1c85bd;