// typography baselines and @font face setups


@font-face {
	font-family: 'opensansreg';
	src: url('fonts/opensans-regular-webfont.eot');
	src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/opensans-regular-webfont.woff2') format('woff2'),
	url('fonts/opensans-regular-webfont.woff') format('woff'),
	url('fonts/opensans-regular-webfont.ttf') format('truetype'),
	url('fonts/opensans-regular-webfont.svg#opensansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'opensanssemibold';
	src: url('fonts/opensans-semibold-webfont.eot');
	src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
	url('fonts/opensans-semibold-webfont.woff') format('woff'),
	url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
	url('fonts/opensans-semibold-webfont.svg#opensanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'opensansbold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('fonts/opensans-bold-webfont.woff') format('woff'),
    url('fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('fonts/opensans-bold-webfont.svg#opensansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-reg-webfont.eot');
    src: url('fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-reg-webfont.woff2') format('woff2'),
    url('fonts/lato-reg-webfont.woff') format('woff'),
    url('fonts/lato-reg-webfont.ttf') format('truetype'),
    url('fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    @include opensansbold;
    margin: 0;
}

a, h3 {
    @include opensanssemibold;
    margin: 0;
}

p, h4 {
	@include opensansreg;
    margin: 0;
}
