.footer {
    background: url('../images/footer-bg.jpg') no-repeat;
    background-size: cover;

    p {
        color: #bfbfbf;
        font-size: 14px;

        @include media($mobile) {
            font-size: 12px;
        }
    }

    img {
        @include media($mobile) {
            max-width: 200px;
            float: none;
        }
    }

    .nav-item {

        a {
            font-size: 14px;
            color: $textGray;
            padding: 0 30px;

            @include media($mobile) {
                font-size: 12px;
                padding: 0 15px;
            }

            &:after {
                content: '/';
                position: absolute;
                right: -3px;
            }
        }

        &:last-child a {
            padding-right: 0;

            &:after {
                content: '';
            }
        }
    }
}