.header_nav {
    background: $gray;

    .nav-link {
        padding: 20px 40px;
        color: $white;

        &.light_gray {
            background: $lightGray;

            &:hover {
                background: $darkGray;
            }
        }

        &.dark_gray {
            background: $darkGray;

            &:hover {
                background: $lightGray;
            }
        }

        &.blue {
            @include opensansbold;
            background: $blue;

            &:hover {
                background: $blueHover;
            }
        }

        &.orange {
            background: $orange;
            padding: 14px 55px;

            p {
                line-height: 1;
                font-size: 12px;
            }

            &:hover {
                background: $orangeHover;
            }
        }
    }
}